//npm.pkg.github.com/:_authToken=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
# # @kognitiv-corporation:registry=https://npm.pkg.github.com
@NAMESPACE:registry=https://npm.pkg.github.com
@username:registry = https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken={{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}}
