.custom-sidebar > div {
  background: #f4f4f6 !important;
  overflow: inherit !important;
}

/* This is obviously not the way of changing the css. 
This is a dynamic generated identifier. Need refactoring. */

.css-10hburv-MuiTypography-root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, ‘Segoe Ui’, sans-serif !important;
  line-height: 21px !important;
}

.MuiListItemText-root {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.MuiListItemText-primary {
  font-family: Inter, -apple-system, BlinkMacSystemFont, ‘Segoe Ui’, sans-serif !important;
  line-height: 21px !important;
  font-size: 14px !important;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.hide-SideMenu-text{
 text-indent: -9999px;
}
.hide-SubMenu-list{
  display: none !important;
}

.setMargin-top {
  margin-top: 0px;
}

.menuHover-Text {
  font-size: 12px;
  width: auto;
  position: absolute;
  min-width: 95px;
  background: #1E2332;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  top: 4px;
  right: -81px;
  display: none;
  line-height: 18px;
}
.sideMenu-hover:hover > .menuHover-Text{
    display: block;
    text-indent: 0;
}